<html>
<head>
<title>Sign-In</title>
<link rel="stylesheet" type="text/css" href="style-sign.css">
</head>
<body>
<div id="container">
	<div id="header">
			<img src="https://www.nasa.de/fileadmin/content/02_verkehr_planung/05_tarife/img/Logo_marego_print.jpg" alt="" align="right" width="200" height="100">
			<br><br><br>
	</div>		
	<div id="Sign-In">
		<br><br>
		<legend align="center">LOG-IN </legend><hr>
		<form method="POST" action="">
			<br><input type="text" name="user" placeholder="Username" size="30"><br>
			<br><input type="password" name="pass"placeholder="Password" size="30"><br><br>
			<input id="button" type="submit" name="submit" value="Log-In">
		</form>
	</div>
	<div id="footer">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>



	</div>
</body>
</html>